{% extends 'base.html' %}

{% load categories %}
{% load sidebar %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container content__container">
    <div class="posts">
        {% show_categories current_category %}
        <ul class="post-grid list-reset">
            {% for post in post_list %}
                <li class="post-grid__item">
                    <article class="blog-post">
                        <a href="{{ post.category.get_absolute_url }}" class="blog-post__category">
                            {{ post.category }}
                        </a>
                        <h3 class="blog-post__title blog-title">
                            <a href="{{ post.get_absolute_url }}" class="blog-post__link">
                               {{ post.title|truncatewords:13 }}
                            </a>
                        </h3>
                        <p class="blog-post__descr">
                            {{ post.content|truncatewords:30|striptags }}
                        </p>
                        <time class="blog-post__date">{{ post.published_at|date:"d b в H:i" }}</time>
                    </article>
                </li>
            {% endfor %}
        </ul>
        {% if page_obj.has_other_pages %}
            <ul class="pagination list-reset">
                {% if page_obj.has_previous %}
                    <li class="pagination__item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__btn">Предыдущая</a>
                    </li>
                {% endif %}
                {% for page_num in paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--current">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="pagination__item">
                            <a href="?page={{ page_num }}" class="pagination__link">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination__item">
                        <a href="?page={{ page_obj.next_page_number }}" class="pagination__btn">Следующая</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    {% show_sidebar %}
</div>
{% endblock %}
