{% load static %}

<div class="container footer__container">
    <a class="logo footer__logo">
        <img src="{% static 'img/logo.svg' %}" alt="Логотип Блога">
    </a>
    <nav class="nav footer__nav">
        <ul class="nav__list list-reset">
            <li class="nav__item"><a href="{% url 'post_list' %}" class="nav__link">Главная</a></li>
            <li class="nav__item"><a href="{% url 'subscribe' %}" class="nav__link">Рассылка</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        </ul>
    </nav>
    <small class="footer__copy">ООО “Блог” 2023. Все права защищены</small>
</div>